// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// AUTOSTART //
spawn-sh-at-startup "waybar" // Add top panel (Waybar)
spawn-sh-at-startup "nm-applet" // Network Manager Applet, for the system tray
spawn-sh-at-startup "udiskie --tray" // Easier mounting of external drives with system tray icon
spawn-sh-at-startup "swayidle -w timeout 120 'swaylock' timeout 300 'niri msg action power-off-monitors'" // Automatic Screen locking
spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpapers/mocha-tree.png" // Set wallpaper
spawn-sh-at-startup "swaync" // Notifications daemon
spawn-sh-at-startup "swayosd-server" // On-screen display for volume change, caps/num lock toggle, etc.
spawn-sh-at-startup "gammastep" // Adjust color temperature late at night

// ENVIRONMENT VARIABLES
environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

// INPUT DEVICES //
// Docs page: https://yalter.github.io/niri/Configuration:-Input
input {
  keyboard {
    numlock
    repeat-delay 400
    repeat-rate 40 
  }
  touchpad {
    tap // tap touchpad to click
    natural-scroll
  }
  warp-mouse-to-focus // Mouse moves to center of newly focused windows
  focus-follows-mouse max-scroll-amount="70%" // Focus automatically when hovering on windows at least 40% off-screen
}

// DISPLAY OUTPUTS //
// Run `niri msg outputs` while inside a niri instance to list displays.
// Docs page: https://niri-wm.github.io/niri/Configuration:-Outputs
// Laptop Screen
output "eDP-1" {
  mode "1920x1080@144.001"
  transform "normal"
  position x=0 y=0
  variable-refresh-rate
}
// Gaming Moniotor
output "DP-1" { // Gaming Monitor
  mode "1920x1080@180.001"
  transform "normal"
  position x=1920 y=0
  variable-refresh-rate
  focus-at-startup
}

// WINDOW LAYOUTS //
// Wiki page: https://niri-wm.github.io/niri/Configuration:-Layout.html
layout {
  gaps 6
  center-focused-column "never"
  always-center-single-column
  preset-column-widths { // Preset column widths, set with Mod + R
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
  preset-window-heights { // Preset window heights, set with Mod + Shift + R
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
  default-column-width { proportion 0.60; }
  focus-ring { // Use borders instead of focus rings
    off
  }
  border {
    width 4
    active-gradient from="#89dceb" to="#cba6f7" angle=135 in="oklch shorter hue"
    inactive-color "#313244"
    urgent-color "#f38ba8"
  }
  shadow {
    off
  }
  tab-indicator {
    place-within-column
    length total-proportion=0.5
    width 6
    gap 5
    gaps-between-tabs 4
    corner-radius 6
    active-color "#a6e3a1"
    inactive-color "#313244"
    urgent-color "#f38ba8"
  }
  insert-hint {
    color "#89b4fa99"
  }
}

// WINDOW RULES //
// Wiki page: https://niri-wm.github.io/niri/Configuration:-Window-Rules
// Rules for all windows
window-rule {
  draw-border-with-background false
  clip-to-geometry true
}
// Spawn messaging platforms on laptop screen, and a bit larger than usual
window-rule {
  match app-id="vesktop"
  match app-id="app.fluxer.Fluxer"
  open-on-output "eDP-1"
  default-column-width { fixed 1600; }
}
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}
// Block out all of these apps from being screencast
window-rule {
  // Password managers
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  // Messaging apps
  match app-id="app.fluxer.Fluxer"
  match app-id="vesktop"
  block-out-from "screencast" // Block out from screencasting but still show in screenshots
}
// Make waybar utilites spawn floating in the top right, but don't focus on them immediately
window-rule {
  match app-id="blueman-manager"
  match app-id="nm-connection-editor"
  match app-id="org.pulseaudio.pavucontrol"
  open-floating true
  open-focused false
  default-floating-position x=6 y=6 relative-to="top-right"
}
// Make kitty/Alacritty terminal slightly transparent and open a little larger
window-rule {
  match app-id="Alacritty"
  match app-id="kitty"
  opacity 0.90
  default-column-width { fixed 1420; }
}
// Make these windows spawn larger
window-rule {
  match app-id="org.kde.dolphin"
  match app-id="org.qbittorrent.qBittorrent"
  default-column-width { fixed 1500; }
}
// Make these apps spawn maximized
window-rule {
  match app-id="codium"
  match app-id="krita"
  open-maximized true
}
// Make all of these other apps float
window-rule {
  match app-id="org.kde.kcalc"
  match app-id="steam" title="Friends List"
  match app-id="XEyes"
  match app-id="krita$" title="— Krita"
  open-floating true
}

// LAYER RULES //
// Wiki page: https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules.html
// Block swaync notifications from being screencast
layer-rule {
  match namespace="swaync-notification-window"
  block-out-from "screencast"
}

// KEYBINDS //
// Wiki page: https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html
binds {
  // Show list of important hotkeys
  Mod+Shift+Slash { show-hotkey-overlay; }
  // Open apps 
  Mod+Space hotkey-overlay-title="Run an Application: Rofi" { spawn-sh "rofi -show drun"; }// Application Launcher
  Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; } // Terminal
  Mod+W { spawn "firefox"; } // Web Browser
  Mod+E { spawn "dolphin"; } // File Manager
  Ctrl+Alt+Escape { spawn-sh "flatpak run io.missioncenter.MissionCenter"; } // Mission Center
  // System functions
  Mod+N { spawn-sh "swaync-client -t -sw"; } // Open Notifications
  Super+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
  // Volume Control and Media Keys
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume raise"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume lower"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
  XF86AudioPlay        allow-when-locked=true { spawn-sh "swayosd-client --playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "swayosd-client --playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "swayosd-client --playerctl prev"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "swayosd-client --playerctl next"; }
  // Brightness Control
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
  // Overview Menu
  Mod+O repeat=false { toggle-overview; }
  Mod+Shift+X repeat=false { close-window; }
  // Focus on columns
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }
  // Move columns within a workspace
  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down; }
  Mod+Ctrl+Up    { move-window-up; }
  Mod+Ctrl+Right { move-column-right; }
  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }
  // First or last columns
  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }
  // Focus on monitors
  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }
  Mod+Shift+H     { focus-monitor-left; }
  Mod+Shift+J     { focus-monitor-down; }
  Mod+Shift+K     { focus-monitor-up; }
  Mod+Shift+L     { focus-monitor-right; }
  // Move columns to other monitors
  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
  // Alternative moving and focusing binds
  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
  // Move positions of entire workspaces
  Mod+Shift+Page_Down { move-workspace-down; }
  Mod+Shift+Page_Up   { move-workspace-up; }
  // Focus and moving columns with your scrollwheel!
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
  // Horizontal scrolling; these binds replicate that.
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
  // More regarding workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5{ move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }
  // The following binds move the focused window in and out of a column.
  // If the window is alone, they will consume it into the nearby column to the side.
  // If the window is already in a column, they will expel it out.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }
  // Switch to preset window heights
  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  // Maximize columns
  Mod+F { maximize-column; }
  Mod+Shift+F { maximize-window-to-edges; }
  Mod+Ctrl+F { fullscreen-window; }
  // Column centering
  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }
  // Fine window width and height adjustment
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }
  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }
  // Toggle tabbed column display mode.
  // Windows in this column will appear as vertical tabs,
  // rather than stacked on top of each other.
  Mod+Q { toggle-column-tabbed-display; }
  // Take screenshots
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
  // Logout screen
  Mod+Shift+E { spawn-sh "wlogout -b 2"; }
  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  Mod+Shift+P { power-off-monitors; }
}

// MISCELLANEOUS //
hotkey-overlay {
  skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
  slowdown 1.75 
}
overview {
  backdrop-color "#1e1e2e"
}
